html {font-size: 16px;}

.deborah {
  position: relative;
  text-align: center;
  margin-bottom: 5px;
  transform:scale(0.9);
  padding-bottom: 10px;
}

p {
  color: #949494;
}

.tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

a:hover {
  visibility: visible;
  color: white;
  opacity: 1;
}

.tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

body {
  margin: 0px 0em;
  background: #131414;
  font-family: 'Montserrat', sans-serif;
}

.navbar-brand {
  color: #C79B62;
  font-size: 1.75rem;
}

.nav {
  background-color: #181818;
}

h1 {
  color: #C79B62;
}
.nav-item {
  font-size: 1.35rem;
}

.navbar a {
    color: #C79B62;
}

.nav-link:active a{
  color: white;
}

#deborah {
  border-radius: 50%;
  max-width:100%;
  height:auto;
}

.icons, .icons a {
  color: white;
  text-align: center;
  font-size: 4rem;
}

.header{
 background-image: url('deborah.jpg');
 background-attachment: fixed;
 background-size: cover;
 background-position: center;
}

.body {
  margin-top: 7em;
}

.bar {
  width: 35px;
  height: 5px;
  background-color: grey;
  margin: 6px;
}

.col-lg-12 {
  font-family: 'Roboto', sans-serif;
}


.home {
  color: #CCCCCC;
  font-family: 'Montserrat', sans-serif;
}

.card {
  width: 200px;
}

.col-md-7 {
  margin-left: 400px;
  color: #CCC;
}

.navbar-collapse{
 justify-content: flex-end;
}

.content {
  margin-left: 0px;
}

.card-deck {
  left: 25em;
  top: 0px;
  bottom: 0;
  right: 0;
  margin: auto;
}

.\.row {
  background: #131414;
  color: #A3A3A3;
  font-family: 'Montserrat', sans-serif;
}
